@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

textarea {
  resize: none;
}

.all-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 1000;
  display: none;
}

table tr td{
  text-align : center!important;
}

.buttonDelete{
  text-align : center;
  margin-top : 30px;
  margin-bottom : 30px;
  font-size : 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.xg {
  .ant-layout-header {
    background: #fff;
    z-index: 2;
    box-shadow: 1px 2px 1px rgba(0,0,0,.072);
    .ant-menu-item {
      font-size: 14px;
    }
    .ant-menu-item-selected.ant-menu-item {
      border-bottom: 2px solid #02abc2;
    }
  }
  .ant-layout-sider {
    width: 200px;
  }
  .ant-menu-inline .ant-menu-submenu-title {
    font-size: 14px;
  }
  .ant-menu-inline .ant-menu-item {
    font-size: 12px;
  }
  .ant-menu-dark.ant-menu-horizontal {
    border: none;
  }
}

.ant-select-dropdown-menu-item {
  line-height: 1.5;
}
